



.scrollbg .scrolldiv .scrollobj a{
    color: azure;
}
::-webkit-scrollbar{
    width:1px;
}
::-webkit-scrollbar-track
{
    background-color: rgb(60, 58, 58);
    border-radius: 1%;
}
::-webkit-scrollbar-thumb
{
    background-color: rgb(22, 237, 104);
    border-radius: 50px;
}

.contents{
    background-color: rgb(189, 52, 52);
   margin-left: 300px;

 
 
}
.card{
    transition: border-color 1s, box-shadow 0.5s, background-color 0.6s;
    background-color: rgb(19, 18, 27);
    color: white;
  }
  .card:hover {
    background-color: rgb(255, 255, 255);
    color: black;
    border-color: rgba(243, 245, 248, 0.7);
    box-shadow: 0px 0px 10px 2px rgb(45, 139, 182);
  }

  .outer{
    
	display:flex;
	flex-direction:row;
}
.left{
	
	width:50vw;
    height:100vh;
    overflow: scroll;
    
}
.right{
	
    
	width:50vw;
    height:100vh;
    overflow: scroll;
}
.data{
    margin-top: 10vh;
    margin-left: 1vh;
    margin-right: 1vh;
    font-size: 1rem;
}
.calculate{
    margin-top: 10vh;
    margin-left: 1vh;
    margin-right: 1vh;
    font-size: 1rem;
}